.jumbo-wrapper {
    background: url("./../../assets/img/bg1.png");
    background-position: center;
    background-size: cover;
    padding: 65px 0;

    .left-col {
        .jumbotron {
            background: none;

            button {
                border-radius: 0;
                margin-right: 15px;
            }

        }
    }
}